<md-card ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h3><md-icon class="material-icons">assignment</md-icon> add new</h3>
		</div>
	</md-toolbar>

	<md-card-content>
		<form layout-gt-xs="row">

			<md-input-container class="md-block" flex-gt-sm>
				<label>name</label>
				<input md-maxlength="255" required name="name" ng-model="newCompilation.name" />
				<div ng-messages="newCompilation.name.$error">
					<div ng-message="required">This field is required.</div>
				</div>
			</md-input-container>

			<md-datepicker required style="margin-top: 15px;" ng-model="newCompilation.dueDate" md-placeholder="due date"></md-datepicker>
			<md-button ng-click="createNewCompilation(newCompilation)">Add</md-button>
		</form>
			
	</md-card-content>
	
</md-card>
