<md-card ng-class="{active:compilation.active}">

	<md-card-header>
		<md-card-avatar>
			<md-icon class="material-icons">assignment</md-icon>
		</md-card-avatar>
		<md-card-header-text>
			<a href="/compilation.html?id={{compilation.id}}"><span class="md-title">{{compilation.name}}</span></a>
			<span class="md-subhead">Due: {{compilation.dueDate}}</span>
		</md-card-header-text>
	</md-card-header>

	<md-dialog-content>
		<div class="md-dialog-content">
		
			<md-list> 
				
				<md-subheader ng-show="compilation.geekLists.length" class="md-no-sticky md-subheader">Current lists</md-subheader>	
  
				<md-list-item class="md-2-line listItem" ng-repeat="item in compilation.geekLists" ng-click="null">
					<div class="md-list-item-text" layout=row layout-wrap>
						<small flex-xs=100 flex-gt-xs=30><md-icon class="material-icons">subject</md-icon>{{item.id}}</small>
						<div flex-xs=90 flex-offset-xs=10 flex=70 >
							<h3>{{item.title}}</h3>
							<h4>{{item.ownersUserName}}</h4>
						</div>
<!--<p>Elements: 309/489 Last updated: 12/04/2015</p>-->
					</div>
					<md-button ng-click="removeListFromCompilation(compilation, item)" class="md-secondary">DELETE</md-button>
					<md-divider ng-if="!$last"></md-divider> 
				</md-list-item>
			</md-list>

			<md-subheader class="md-no-sticky md-subheader">New list</md-subheader>	

			<md-list>
				<md-list-item>
					<md-input-container class="md-block">
						<label><md-icon class="material-icons">subject</md-icon></label>
						<input md-maxlength="15" name="id" ng-model="newGeekList.id" />
					</md-input-container>
					<md-button ng-click="addListToCompilation(compilation, newGeekList)" class="md-secondary">Add</md-button>
				</md-list-item>
			</md-list>
    
		</div>
	</md-dialog-content>
	
	<md-card-actions layout="row" layout-align="end center">
		<md-button ng-show="!compilation.active">Activate</md-button>

		<md-button ng-show="compilation.active" class="md-icon-button" aria-label="Favorite">
			<md-icon class="material-icons">update</md-icon>
		</md-button>
	</md-card-actions>

</md-card>
