<heks-game ng-class="['md-whiteframe-1dp', {'error': game.hasError}]" layout=row layout-margin>
	<div flex=30 layout-margin>

		<h2>
			<md-icon class="material-icons">{{game.type=='boardgame' ? 'crop_din' : 'filter_none'}}</md-icon>
			<p>{{ game.name | cut:90 }}</p>
		</h2>

		<div class=info>
			<img ng-src="{{game.thumbnail}}" />
			<div class=details>
				<p>
					<md-icon ng-class="{badratio: min_players(game.minPlayers)}" class="material-icons">account_circle</md-icon> {{game.minPlayers}} - {{game.maxPlayers}}
				</p>
				<p>
					<md-icon class="material-icons">watch</md-icon> {{game.playingTime}} min
					<md-tooltip md-direction="right">{{game.minPlayingTime}} min - {{game.maxPlayingTime}} min</md-tooltip>
				</p>
				<p>
					<md-icon class="material-icons">child_friendly</md-icon> {{game.minAge}}+
				</p>
			</div>
			<div class=details>
				<p>
					<md-icon class="material-icons">g_translate</md-icon>
					<md-icon ng-repeat="ratingInd in rating.languageDependence" ng-class="game.languageDependenceRatio >= ratingInd ? 'rated' : ''" class="rating material-icons">subject</md-icon>
				</p>
				<p>
					<md-icon class="material-icons">today</md-icon> {{game.yearPublished}}
				</p>
			</div>
		</div>

		<h3>Description</h3>
		<p class=description ng-bind-html="game.description"></p>
	</div>

	<div flex=30 layout-margin>
		<h3>People</h3>
		<div>
			<span class=pill ng-repeat="person in game.people">{{person}}</span>
		</div>

		<h3 >Board Game Geek Links</h3>
		<md-button ng-href="http://www.boardgamegeek.com/boardgame/{{game.id}}" class="md-primary" target="_blank">BGG game</md-button>
		<span ng-repeat="(geekListId, geekListItemIds) in game.itemsOnGeekLists">
			<md-button ng-href="http://www.boardgamegeek.com/geeklist/{{geekListId}}/item/{{geekListItemId}}#item{{geekListItemId}}" ng-repeat="geekListItemId in geekListItemIds" target="_blank">GeekList item</md-button>
		</span>

		<h3>Versions</h3>

		<div class=people>
			<span class=pill ng-class="{'is-known': is_lang_known(ver.languages)}" ng-repeat="ver in game.versions">

				<strong ng-repeat="language in ver.languages">{{get_lang_code(language)}} </strong>
				<span>{{ver.year}}</span>

				<md-tooltip>| <span ng-repeat="publisher in ver.publishers"> {{publisher}} | </span></md-tooltip>

			</span>
		</div>

	</div>
	<div flex=35 layout-margin>
		<h3>Ratings</h3>

		<div layout=row class=vote-buttons>
			<md-button ng-class="game.myRating.value===rating_value ? 'md-accent' : ''" ng-click="new_rating(rating_value)" ng-repeat="(rating_value, rating_name) in rating_values">{{rating_name}}</md-button>
		</div>

		<md-input-container class="md-block">
            <label>Comment</label>
		    <textarea ng-model="game.myRating.comment" maxlength="255" md-maxlength="255" rows="2" ng-blur="save_rating()"></textarea>
        </md-input-container>

		<div ng-repeat="note in game.friendRatings">
			<h4> {{note.username}} <span ng-class="'r' + note.value">{{rating_values[note.value]}}</span></h4>
			<p class=description>{{note.comment}}</p>
		</div>

	</div>
</heks-game>