md-toolbar {
	font-weight: 800;
}

md-card.active md-card-avatar md-icon {
    background-color: rgb(139, 195, 74);
}

md-card .md-toolbar-tools {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

md-card .md-toolbar-tools h3,
md-card .md-toolbar-tools md-icon {
	color: rgba(0,0,0,0.5);
}

.card-columns > * {
    display: inline-block;
    width: 100%;
}

.card-columns md-card {
    margin: 0 0 1.25rem 0;
}

.card-columns .description {
    margin-bottom: 1.25rem;
}

@media (min-width: 1200px) {
    .card-columns {
	    -webkit-column-count: 3;
	       -moz-column-count: 3;
	            column-count: 3;
        -webkit-column-gap: 1.25rem;
           -moz-column-gap: 1.25rem;
                column-gap: 1.25rem;
    }
}
@media (min-width: 800px) and (max-width: 1200px) {
     .card-columns {
 	    -webkit-column-count: 2;
 	       -moz-column-count: 2;
 	            column-count: 2;
         -webkit-column-gap: 1.25rem;
            -moz-column-gap: 1.25rem;
                 column-gap: 1.25rem;
    }
}

.game-card md-card-header {
    padding-bottom: 0;
} 

.game-card md-card-title-media {
    margin-top:3px;
    margin-right:15px;
}

.game-card md-card-title-text .material-icons {
    color:#bdbdbd;
    font-size:22px;
    margin-right: 5px;
}

.game-card md-card-title-text .material-icons.badratio {
    color: #FF6E40;
}

.game-card h5 {
    margin-bottom:0; 
    text-transform: uppercase; 
    color:rgba(0,0,0,0.6);
}

.islangknown {
    background-color: #dcedc8 !important;
}

/**
 * masonry layout
 */

@media (min-width: 1200px) {
    .column-size, .grid-item { 
        width: 32%;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .column-size, .grid-item { 
        width: 49%;
    }    
}

.grid { 
    width: 100%;
}

.grid-title-item p {
    margin: 8px;
}

.game-card md-card-title-text .material-icons.rating {
    color:rgba(0,0,0,0.2); 
    margin-right:-6px; 
    font-size:22px;
}

.game-card md-card-title-text .material-icons.rating.rated {
    color: rgba(0,0,0,0.45);
}

.rNOT_RATED, .rIGNORE {
color:rgb(255, 215, 64) !important;
text-transform: uppercase;
}
 .rLIKE, .rWANT, .rNEED {
color:rgb(139, 195, 74) !important;
text-transform: uppercase;
}







heks-game {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

heks-game.error {
    background-color: rgb(255, 235, 238);
}

heks-game p, heks-game h2, heks-game h3 {
    margin: 0;
    padding: 0;
}

heks-game h2 {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.005em;
}

heks-game h3 {
    color:rgba(0,0,0,0.6);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-top: 12px;
    text-transform: uppercase;
}

heks-game h4 {
    color:rgba(0,0,0,0.6); 
    font-size: 13px;
    letter-spacing: 0.02em;
    margin-left: 12px;
    margin-bottom: 6px; 
    text-transform: uppercase;
}

heks-game h2 p {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: 0;
    max-height: 40px;
}

heks-game h2 md-icon {
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    color: rgb(250, 250, 250);
    margin-right: 12px;
    padding: 8px;
}

/**   **/
heks-game .info {
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    font-size: 14px;
    padding-top: 24px;
}

heks-game .info .details {
    margin-left: 12px;
}

heks-game .info .material-icons {
    color: #bdbdbd;
    font-size: 22px;
    margin-right: 5px;
}

heks-game .info .material-icons.rating {
    color: rgba(0, 0, 0, 0.2);
    font-size: 22px;
    margin-right: -6px;
}

heks-game .info .material-icons.rating.rated {
    color: rgba(0,0,0,0.45);
}

heks-game .description {
    font-size: 12px;
    line-height: 17px;
    margin-left: 12px; 
    text-align: justify; 
}

heks-game span.pill {
    background-color: rgba(245, 245, 245, 1);
    border-radius:10px; 
    color: rgba(0,0,0,0.5);
    display: inline-block; 
    font-size:12px; 
    line-height: 20px; 
    margin:4px; 
    padding-left: 10px;
    padding-right: 10px; 
}

heks-game span.pill.is-known {
    background-color: #dcedc8;
}


heks-game span.pill strong {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    text-transform:uppercase;
}

heks-game .vote-buttons button {
    margin:0; 
    min-width:45px
}

heks-game md-input-container {
    margin-left: 12px !important;
    margin-top: 12px !important;
}