<html ng-app="heks" lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://material.angularjs.org/HEAD/angular-material.min.css">
	<link rel="stylesheet" href="css/vendor/material-icons.css">
	<link rel="stylesheet" href="css/compilation.css">
	<link rel="stylesheet" href="css/range-slider.css">

	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<title>Heks: Compilation's games</title>
</head>

<body ng-cloak ng-controller="Compilation">
	<ng-include src="'templates/header.html'"></ng-include>

	<div layout="row" layout-padding>
			<div flex=20>
				<p><small>This is the <b>{{compilation.name}}</b> compilation which will be closed {{compilation.dueDate}}. There are {{compilation.totalGamesCount}} games in total so keep rating! (You rated {{compilation.ratedGamesCount}} games so far)</small></p>
				<p><small>Do you know that you can <span style="text-decoration: underline">rate games in a compilation with other users</span>? You will see their rates next to any game!</small></p>
			</div>
			<div flex=60>
				<p><small>Filtering</small></p>

				<div>
					<h6 style="text-transform: uppercase; margin-bottom: 0;">Show if my rating is:</h6>
					<md-button ng-class="filter_config.ratings[rating_value] ? 'md-primary' : ''" ng-click="filter_single_rating(rating_value)" ng-repeat="(rating_value, rating_name) in rating_values">
						<md-icon style="font-size: 21px;" class="material-icons">{{filter_config.ratings[rating_value]?"done":"close"}}</md-icon>
						{{rating_name}}
					</md-button>
				</div>
			</div>
			<div flex=20>
				<p><small>Sorting</small></p>
				<md-icon class="material-icons">account_circle</md-icon>
			</div>
	</div>

	<div layout="column" infinite-scroll="load_more_games()" infinite-scroll-disabled="page_is_loading">
		<div ng-repeat="game in games | filterByRating: filter_config.ratings" ng-include="'templates/game_show_one.html'"></div>
	</div>

    <div ng-show="page_is_loading" layout="row" layout-align="space-around" layout-margin>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>

	<!-- Angular Material Library -->
	<script src="//material.angularjs.org/HEAD/angular-material.min.js"></script>
	<script src="js/vendor/ng-infinite-scroll.min.js"></script>
	<script src="js/range-slider.js"></script>

	<!-- Your application bootstrap  -->
	<script src="js/compilation-controllers.js"></script>
  
</body>

</html>
