<html ng-app="heks" lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://material.angularjs.org/HEAD/angular-material.min.css">
	<link rel="stylesheet" href="css/vendor/material-icons.css">
	<link rel="stylesheet" href="css/compilation.css">

	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<title>Heks: Compilations</title>
</head>


<body ng-controller="MyCompilations" ng-cloak>

	<ng-include src="'templates/header.html'"></ng-include>

	<div layout-padding layout-wrap layout-align="center stretch">
		<div class="card-columns">
			<div class="description"><small>Description about the <strong>compilation</strong> i.e. what it is and why we decided to use it.</small></div>
			<ng-include src="'templates/compilation_add.html'"></ng-include>
			<ng-include ng-repeat="compilation in geekListCompilations" src="'templates/compilation_show_one.html'"></ng-include>
		</div>
	</div>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>

	<!-- Angular Material Library -->
	<script src="//material.angularjs.org/HEAD/angular-material.min.js"></script>

	<script src="//npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
	<script src="js/vendor/angular-masonry-directive.js"></script>

	<!-- Your application bootstrap  -->
	<script src="js/index-controllers.js"></script>
  
</body>

</html>